{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container_full_card" style="
display: flex;
flex-wrap: wrap; ;
/* text-align: center; */
justify-content: center;
background-color: rgb(191, 255, 234);
border-radius: 10px;
margin: 100px;
width: 90% ;">


    {% for i in meal %}
    <div class="card" style="width: 20rem; margin: 20px; box-shadow: 4px 4px 8px gray; ">
        <img src="{{ i.strMealThumb}}" class="card-img-top" alt="Blank_imgage">
        <div class="card-body">
            <h5 class="card-title">{{i.strMeal}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the.
            </p>
            <a class="btn btn-primary">id:{{i.idMeal}}</a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}